DEPLOYED_URL = http://10.227.111.65:5000 # This is the URL where the service is deployed. Make sure to put this correctly else the QR code won't work
ENABLE_DELETE_ALL = False   # This enables or disables the delete all functionality
POLLING_INTERVAL = 10000    # This is the interval for polling the server for updates (in milliseconds)